# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
**/*/downloads/
downloads/
.xwin-cache/
.cargo/
out
.vscode

node_modules
dist
dist-ssr
*.local
.next
public/vs
public/min-maps

# Editor directories and files
.vscode/*
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

docs/public


# Added by cargo

/target
