.table {
  height: 100%;

  :global(.ant-table-cell-row-hover) {
    background-color: transparent !important;
  }

  :global(.ant-spin-nested-loading),
  :global(.ant-spin-container),
  :global(.ant-table),
  :global(.ant-table-container) {
    height: 100%;
  }

  :global(.ant-table-container) {
    display: flex;
    flex-flow: column;
  }
  :global(.ant-table-body) {
    flex: 1;
  }
}
